.article{
  max-width: 66%;
  margin: 0 auto;
  padding: 20px; 
}

/* Image Styling */
.article-image-container {
  margin-bottom: 1.5rem;
}

.article-image {
  width: 100%;
  height: auto;
  border-radius: 0.375rem; 
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

/* Article Content */
.article-content {
  font-size: 1.25rem; 
  line-height: 1.8;
  margin-bottom: 2rem;
}
